#logo {
    position: absolute;
    width: 65px;
    height: 65px;
    left: 40px;
    top: 30px;
}

.menulink {
    margin-left: 45px;
    margin-right: 45px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #1C1D28;
    text-decoration: none;
}

.menu {
    margin-top: 55px;
    margin-left: 165px;
    margin-right: 165px;
}

#tel {
    position: absolute;
    height: 60px;
    width: 170px;
    left: 1000px;
    top: 42px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;

    letter-spacing: 0.02em;

    color: #1C1D28;
}

#but_project {
    position: absolute;
    width: 171px;
    height: 41px;
    left: 1250px;
    top: 42px;
}

#but_project:hover {
    border: 3px solid #413f3f;
}

.menulink:hover {
    text-decoration: underline;
}

.menulink:active {
    color: blue;
}

.menulink:visited {
    color: #808080;
}

.studio_name {
    position: absolute;
    width: 150px;
    height: 22px;
    left: 150px;
    top: 216px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 145%;

    letter-spacing: 0.05em;

    color: #1C1D28;
}

.about {
    position: absolute;
    width: 261px;
    height: 132px;
    left: 150px;
    top: 256px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 145%;

    letter-spacing: 0.02em;

    color: #1C1D28;
}

.graf_des {
    position: absolute;
    width: 381px;
    height: 130px;
    left: 588px;
    top: 270px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 145%;

    letter-spacing: 0.02em;

    color: #1C1D28;
}

#ris_design {
    position: absolute;
    width: 438px;
    height: 452px;
    left: 646px;
    top: 162px;

    background: url(assets/images/design.png);
}

#but_talk {
    position: absolute;
    width: 171px;
    height: 41px;
    left: 150px;
    top: 429px;
}

#but_talk:hover {
    border: 3px solid #413f3f;
}