body,
header,
div,
main,
aside,
footer {
    border: 1px solid black;
}

.flex_header {
    display: flex;
    justify-content: center;
}

.flex_footer {
    display: flex;
    justify-content: space-around;
}

.flex_main {
    display: flex;
    flex: 1;
    align-items: stretch;
    min-height: 50vh;
}

.main_page {
    display: flex;
    flex: 1;
    flex-direction: row;
}

#part {
    display: flex;
    width: 100%;
    align-self: flex-start;
    justify-content: center;
    margin-top: 15px;
}

.flex_article {
    display: flex;
    flex: 1;
    width: 70%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 15px;
}

.article {
    display: flex;
    width: 40%;
    height: 10%;
    justify-content: center;
    align-items: center;
}

.flex_aside {
    display: flex;
    width: 30%;
    justify-content: center;
}